/* Hauteur adaptative pour #intro */
#intro {
  background-image: url("https://images.unsplash.com/photo-1560518883-ce09059eeffa?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8aG91c2UlMjB2ZW50ZXxlbnwwfHwwfHx8MA%3D%3D");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

/* Pour les petits écrans */
@media (max-width: 768px) {
  #intro {
    height: 70vh;
    background-position: center;
  }
  .navbar-brand {
    font-size: 1.2rem;
  }
  .navbar .nav-link {
    font-size: 0.8rem;
    padding: 0.4rem 0;
  }
}


/* Styles pour la navbar */
.navbar .nav-link {
  color: #fff !important;
  font-size: 0.9rem;
  text-align: center;
  padding: 0.5rem 0;
  transition: color 0.3s ease, transform 0.3s ease;
}

/* Exemple de personnalisation de l'icône */
.navbar-toggler-icon {
  background-image: url("path-to-your-icon.png"); /* Utiliser une image personnalisée si nécessaire */
  width: 30px;
  height: 30px;
  background-color: transparent; /* Rendre l'icône transparente pour qu'elle ne soit pas noire */
}

.navbar .nav-link:hover {
  color: #00bcd4 !important;
  transform: scale(1.1); /* Effet de zoom */
}

/* Ombre et surbrillance sur la navbar */
.navbar {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

/* Apparence des boutons */
.navbar .btn {
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.navbar .btn-outline-primary {
  color: #00bcd4;
  border-color: #00bcd4;
}

.navbar .btn-outline-primary:hover {
  background-color: #00bcd4;
  color: #fff;
  transform: translateY(-3px); /* Légère élévation */
}

/* Effet sur le header principal */
#intro h1 {
  color: #fff;
  text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.8); /* Ombre pour une meilleure lisibilité */
  animation: fadeInDown 2s ease-in-out; /* Effet d'animation */
}

#intro .btn-outline-light {
  border: 2px solid #00bcd4;
  transition: all 0.3s ease;
}

#intro .btn-outline-light:hover {
  background-color: #00bcd4;
  border-color: #00bcd4;
  color: #fff;
}

/* Parallax amélioré */


